.App {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}
.connect_modal {
	position: relative;
	width: 100%;
	height: 100vh;
	/* z-index: 999; */
	background-color: transparent;
}

.connect_modal__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background-color: #fff; */
	padding: 50px;
	font-size: 21px;
}

.connectButton {
	/* width: %; */
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
	font-size: 18px;
}

.links {
	margin: 10px 10px;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}
