form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: 0.5%;
}
form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}
#messages {
	list-style-type: none;
	margin: 20px auto 50px auto;
	padding: 0;
	height: 90vh;
	/* margin-bottom: 52px; */
	overflow-y: auto;
}
#messages .msgBox {
	padding: 5px 7px;
	width: 100%;
	display: block;
	word-wrap: break-word;
	margin: 10px 10px;
	border-radius: 5px;
}

#message div:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
}

.reciever {
	padding: 5px 7px;
	width: 30%;
	display: block;
	word-wrap: break-word;
	margin: 10px 10px;
	border-radius: 5px;
	background-color: rgb(80, 207, 69);
}

.sender {
	float: right;
	color: #fff;
	padding: 5px 7px;
	display: block;
	width: 30%;
	word-wrap: break-word;
	margin: 10px 10px;
	border-radius: 5px;
	background-color: rgb(57, 132, 175);
}

.sender::after {
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #e1ffc7;
	top: 0;
	right: -10px;
}
